<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Indonesia Game Portal | Best Online Game Portal In Indonesia</title>
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="./js/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="css/font-awesome/font-awesome.css">
</head>
<body>
<div class="site-overlay"></div>
<!-- Header Link -->
		<div class="row">
			<div class="container-fluid header-link">
		  		<div class="col-md-12">
		          <div class="row">
		          	<div class="col-md-4 col-md-push-8 link-head">
			          	<div class="row">
			          		<div class="col-md-4">
			          		<b><a href="">LANGUANGE : <span class="blued">EN</span></a></b>
			          		</div>
			          		<div class="col-md-1">
			          		<b><a href=""><span class="whited">/</span></a></b>
			          		</div>
			          		<div class="col-md-2">
			          		<b><a href="">WISHLIST</a></b>
			          		</div>
			          		<div class="col-md-1">
			          		<b><span class="whited">/</span></b>
			          		</div>
			          		<div class="col-md-4">
			          		<b><a href="">YOUR ACCOUNT</a></b>
			          		</div>
			          	</div>
		          	</div>
		          </div>
		      	</div>
		     </div>
	    </div>
<!-- End Header Link -->
<!-- Banner -->
	<div class="container-fluid">
		<div class="row">
			<div class="container-fluid bg-blacked">
		  		<div class="col-md-12">
		          <div class="row">
		          	<div class="col-md-12">
			          	<div class="row">
			          		<div class="col-md-5"><!-- 
			          			<img src="./images/Logo.png" alt="" class="logo-top"> -->
			          		</div>
			          		<div class="col-md-7">
				          		<div class="col-md-6">
					          		<div class="whited f18 bold">INDO<span class="red">NESIA</span> GAME PORTAL</div>
					          		<div class="whited f12">BEST ONLINE GAME PORTAL</div>
				          		</div>
				          		<div class="col-md-6">
				          			<div class="col-md-6">
				          				<span class="fa fa-list-ol greened middled" style="font-size: 25pt"></span>
				          				<div class="whited-link bold" id="display-inline"><a href="#">LEADERBOARD</a></div>
				          			</div>
				          		</div>
			          		</div>
			          	</div>
		          	</div>
		          </div>
		      	</div>
		     </div>
	    </div>
	</div>
<!-- End Banner -->
<!-- Menu  -->
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-10 col-md-push-2">
			<div class="container-fluid menu-link klip">
		  		<ul class="col-md-push-1 nav">
				    <li>
				        <a href="#">HOME</a>
				        <div>
							
				        </div>
				    </li>
				    <li>
				        <a href="#">FEATURED <span class="fa fa-arrow-down"></span></a>
				        <div>
							<div class="nav-column">
							    <h3 class="whited">Related Categories</h3>
							    <ul>
							        <li><a href="#">Pampers Diapers</a></li>
							        <li><a href="#">Huggies Diapers</a></li>
							        <li><a href="#">Diapers</a></li>
							    </ul>
							 
							    <h3 class="whited">Brands</h3>
							    <ul>
							        <li><a href="#">Driving shoes</a></li>
							        <li><a href="#">Espadrilles</a></li>
							    </ul>
							</div>
				        </div>
				    </li>
				</ul>
		      	<div class="col-md-4 col-md-push-5">
			      	<div class="col-md-2">
			      		<a href="" class="btn-blacked"><span class="fa fa-facebook"></span></a>
			      	</div>
			      	<div class="col-md-2">
		      			<a href="" class="btn-blacked"><span class="fa fa-twitter"></span></a>
		      		</div>
		      		<div class="col-md-2">
		      			<a href="" class="btn-blacked"><span class="fa fa-google-plus"></span></a>
		      		</div>
		      		<div class="col-md-2 col-md-push-1 whited">
		  				<a href="#" class="btn-blued"><span class="fa fa-bars"></span></a></div>
		      		</div>
		      	</div>
		     </div>
		</div>
	    </div>
	</div>
<!-- End Menu -->
<!-- Caorusel -->
<!-- End Carousel -->


<script src="./js/jquery/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="./js/jquery-ui/jquery-ui.min.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>